body {
  font-family: "Lucida Casual", sans-serif;
  background-color: #eef4fb;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.9rem;
}

.header-section {
  background-color: #0056b3;
  width: 95vw;
  color: white;
  padding-left: 40px;
  text-align: left;
  box-sizing: border-box;
}

.form-section {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  margin: 40px auto 0 40px;
}

.task-form {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 8px;
  align-items: center;
}

.form-title {
  margin: 0;
  width: 100%;
  text-align: left;
  grid-row: 1;
}

.task-input {
  width: 100%;
  padding: 8px;
  height: 2.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  grid-row: 2;
}

.add-task-btn {
  height: 2.5rem;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 20px;
  grid-row: 2;
}

.task-input,
.add-task-btn {
  display: inline-block;
}

.tasks-section {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 40px;
  width: calc(100% - 60px);
}

.task-category {
  flex: 1;
}

.category-title {
  border-radius: 8px;
  width: fit-content;
  padding: 8px 12px;
  margin-bottom: 8px;
  background-color: var(--category-bg-color);
  color: var(--category-text-color);
}

.task-item {
  list-style: none;
  background: white;
  padding: 15px;
  margin-bottom: 8px;
  border-radius: 5px;
  border-left: 4px solid var(--category-text-color);
  font-size: 0.9rem;
}

.pending {
  --category-bg-color: #e3e3e3;
  --category-text-color: #6c757d;
}

.in-progress {
  --category-bg-color: #cde0ff;
  --category-text-color: #3069c7;
}

.completed {
  --category-bg-color: #ccf2d1;
  --category-text-color: #5aaf5a;
}

.discarded {
  --category-bg-color: #f9d6d6;
  --category-text-color: #b84d50;
}

.clear-btn {
  background-color: #c82333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  margin-top: 8px;
}
